* { font-family: Verdana, Geneva, Tahoma, sans-serif; }
body {
    margin: 0;
    padding: 0;
}
#page {
    background-color: #b22222;
    color: whitesmoke;
    min-height: 100vh;
}
header, footer {
    padding: 0 10px;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
}
header {
    background: #580101;
    background: -moz-linear-gradient(180deg, #580101 15%, #b22222 90%);
    background: -webkit-linear-gradient(180deg, #580101 15%, #b22222 90%);
    background: linear-gradient(180deg, #580101 15%, #b22222 90%); 
}
footer {
    background: #580101;
    background: -moz-linear-gradient(0deg, #580101 15%, #b22222 90%);
    background: -webkit-linear-gradient(0deg, #580101 15%, #b22222 90%);
    background: linear-gradient(0deg, #580101 15%, #b22222 90%);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
a {
    color: #FCFFAB !important;
}
main {
    font-size: 1.5rem;
}