#loading {
    z-index: 300;
    width: 100%;
    height: 100%;
    background-color: #111; 
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0;
    padding: 0;
    transition: opacity 0.9s;
    overflow: hidden;
}
#loading > div#loading_img_wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#loading > div#loading_img_wrapper > img {
    color: white;
    width: 15%;
    height: auto;
    margin: 0;
}
/* END LOADING */

* { font-family: Verdana, Geneva, Tahoma, sans-serif; }
body {
    margin: 0;
    padding: 0;
}
#page {
    background-color: #b22222;
    color: whitesmoke;
    min-height: 100vh;
}
header {
    background: #580101;
    background: -moz-linear-gradient(180deg, #580101 15%, #b22222 90%);
    background: -webkit-linear-gradient(180deg, #580101 15%, #b22222 90%);
    background: linear-gradient(180deg, #580101 15%, #b22222 90%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#580101",endColorstr="#b22222",GradientType=1); 
    padding: 0 10px;
    margin: 0;
    display: flex;
    justify-content: space-between;
}
#question_num {
    text-decoration: underline;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 100vw;
    flex-direction: column;
}
#actual_question {
    display: flex;
    align-items: center;
    padding: 0 10vw;
}
#question_text {
    margin-top: 0;
    text-align: center;
    padding: 0;
    font-size: 4rem;
    font-weight: normal;
    flex-grow: 5;
}
#question_img {
    flex-grow: 9;
}
strong {font-weight: bold;}